$trans-style: ease-in-out; // Global transition type
$trans-speed: .1s; // Global transition speed
$trans-medium: .5s; // Global transition speed
$trans-slow: 1s; // Slow 

// DELAYS
.animation-order {
  &-1 {animation-delay: $trans-medium!important;}
  &-2 {animation-delay: $trans-medium *2!important;}
  &-3 {animation-delay: $trans-medium *3!important;}
  &-4 {animation-delay: $trans-medium *4!important;}
  &-5 {animation-delay: $trans-medium *5!important;}
}


// REVEAL SWIPE
.reveal {
  &:after {
    content: '';
    z-index: -1;
    transition: all .3s linear; 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
  }
  &:hover, &.hover {
    &:after {
      width: 100%;
    }
  }
}

//BOUNCE up and down
.bounce {
  animation: bobbing 1s infinite;
  animation-delay: $trans-slow *3
}
@keyframes bobbing {
	0% {
    bottom: 1px;
	}
	50% {
    bottom: 5px;
	}
	100% {
    bottom: 1px;
	}
}

// ALL BUTTONS
.btn {
  @include flipInX(
    $duration: $trans-slow
  );
}

//PROFILE
.profile {
  .title-fancy {
    // overflow: hidden;
    @include fadeInDown (
      $duration: 1s
    );
    &-small h5 {
      @include fadeInRight (
        $duration: 1s
      );
    }
  }
}

//GALLERY
.gallery {
  .media-holder {
    @include flipInY (
      // $duration: $trans-slow
    );
  }
  .btn {
    @include flipInX ();
  }
  .tabs {
    @include slideInRight (
      $duration: $trans-slow
    );
  }
  .featured {
    @include flipInY (
      $duration: $trans-slow
    );
  }
}

.fadeInDown {
  @include fadeIn (
    $duration: $trans-slow
  );
}


