// IMPORTS
@import "bootstrap/bootstrap";
@import "animate/animate";
@import "variables";
@import "animation";






// Globals
img, table {
  max-width: 100%;
}
span {
  font-size: inherit!important;
}
i:before,i:after {
  font-weight: 600;
}
.collapse {
  margin-left: 0!important  ;
}
.overflow {
  overflow-y: hidden;
}
body {
  background-color: $color-bg;
  font-family: $font;
  color: $color;
  font-size: $font-size;
}

a {
  color: $color-primary;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: $color-secondary;
  }
}
a, button, .btn, input {
  &:hover, &:focus, &:visited, &:active {
    box-shadow: none!important;
    outline: none!important;
  }
}
h1, h2, h3, h4, h5, h6, button, .btn {
  text-transform: uppercase;
}

//Overwriting Bootstraps H tag sizes (too big)
h1    {font-size: 1.80rem;}
h2    {font-size: 1.64rem;}
h3    {font-size: 1.48rem;}
h4    {font-size: 1.32rem;}
h5    {font-size: 1.16rem;}
h6    {font-size:    1rem;}
p     {font-size:    1rem;}
span  {font-size:    1rem;}

// Font Scaling
@media (max-width: 575px) and  (orientation: portrait) {
  html {
   font-size: 4vw;
  }
}
@media (max-width: 575px) and  (orientation: landscape) {
  html {
   font-size: 5vh;
  }
}

ol, ul {
  padding-left: 0;
}
.container {
  max-width: $container-width;
  &-medium {
    max-width: $container-medium;
  }
  &-small {
    max-width: $container-small;
  }
  &-tiny {
    width: calc( 100vw - 30px);
    @include media-breakpoint-up(md) {
      width: $container-tiny;
      margin: 0 auto;
    }
  }
}

$gap-size: 1rem;
.gap {
  &-1 {height: $gap-size *2 ;} 
  &-2 {height: $gap-size *4 ;} 
  &-3 {height: $gap-size *6 ;} 
  &-4 {height: $gap-size *8 ;} 
  &-5 {height: $gap-size *10;} 
}
.divider {
  &-1 {border-bottom: 1px solid $color-border; margin-top: $gap-size; margin-bottom: $gap-size;} 
  &-2 {border-bottom: 1px solid $color-border; margin-top: $gap-size*2; margin-bottom: $gap-size*2;} 
  &-3 {border-bottom: 1px solid $color-border; margin-top: $gap-size*3; margin-bottom: $gap-size*3;} 
  &-4 {border-bottom: 1px solid $color-border; margin-top: $gap-size*4; margin-bottom: $gap-size*4;} 
  &-5 {border-bottom: 1px solid $color-border; margin-top: $gap-size*5; margin-bottom: $gap-size*5;} 
}

.box-shadow {
  box-shadow: 2px 2px 3px 2px rgba($color-primary, 0.2);
  &-bottom {
    box-shadow: 0px 3px 3px 0px rgba($color-primary, 0.2);
  }
  &-top {
    box-shadow: 0px -3px 3px 0px rgba($color-primary, 0.2);
  }
}

.fancybox {
  &-bg {
    background: rgba($color-primary,.9)!important;
  }
  &-button {
    color: $color-primary!important;
    background: $color-bg!important;
  }
  &-navigation>button {
    background: transparent!important;
    &>div {
      background: $color-bg!important;
    }
  }
  &-infobar {
    color: $color-bg!important;
  }
}

.text-fancy {
  font-family: $font-fancy;
}
.text-block {
  display: inline-block!important;
  border-radius: 99px;
  padding: .25rem .75rem;
  margin: .25rem .5rem .25rem 0;
  position: relative;
  &:before {
    content: "\f054";
    font-family: $font-awesome;
    position: absolute;
    right: .5rem;
    -webkit-text-stroke: 1px $color-bg;
  }
}
.primary {
  color: $color-primary;
}
.bold {
  font-weight: $bold;
}
.invert {
  background-color: $color-primary;
  color: $color-bg;
  a {
    color: $color-bg;
    &:hover {
      color: $color-secondary;
    }
  }
}
.plain {
  color: $color;
  a {
    color: $color!important;
    &:hover {
      color: $color-primary!important;
    }
  }
}
.disabled {
  pointer-events: none;
  cursor: default;
}

.border {
  &-bottom {
    border-bottom: 1px solid $color-border;
  }
}

.currency {
  &:before {
    content: '£';
    margin-right: .15rem;
  }
}


//5-col WIDE
.col-20 {
  flex: 0 0 20%;
  max-width: 20%;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 1200px) {
  .col-xl-20 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}



// PADDING
.gallery-padding {
  margin-left: -$gallery-padding;
  margin-right: -$gallery-padding;
  >* {
    padding-left: $gallery-padding;
    padding-right: $gallery-padding;
    margin-bottom: $gallery-padding*2;
  }
}
.wide-padding {
  @include media-breakpoint-up(md) {
    margin-left: -$wide-padding;
    margin-right: -$wide-padding;
    >* {
      padding-left: $wide-padding;
      padding-right: $wide-padding;
      margin-bottom: 0;
    }
  }
}
.narrow-padding {
  margin-left: -$narrow-padding;
  margin-right: -$narrow-padding;
  >* {
    padding-left: $narrow-padding;
    padding-right: $narrow-padding;
    margin-bottom: $narrow-padding*2;
  }
}
.no-padding {
  margin-left: -0;
  margin-right: -0;
  >* {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
  }
}


.sticky {
  position: sticky;
  top: 0;
  background-color: rgba($color-bg, .9);
  z-index: 2;
  &-bottom {
    top: unset;
    bottom: 0;
  }
  &-gallery {
    top: $height-header-mobile;
    background-color: $color-bg;
    @include media-breakpoint-up(md) {
      top: $height-header-fixed;
      background-color: rgba($color-bg, .9);
    }
  }
}


//COOKIES
.cookies {
  z-index: 9999;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 1rem 2rem;
  background-color: rgba($color-primary,0.9);
  color: $color-bg;
  display: flex;
  align-items: center;
  span {
    display: inline-block;
    flex-grow: 1;
    padding-right: 1rem;
  }
  div {
    display: flex;
    align-items: center;
  }
  a {
    padding: .5rem;
    background-color: $color-bg;
    color: $color-primary!important;
    border: 1px solid $color-bg;
    &:hover {
      background-color: transparent;
      color: $color-bg!important;
    }
    &:before, &:after {
      display: none;
    }
  }
}

.fixed-dropdown {
  position: relative;
  &-content {
    @extend .box-shadow-bottom;
    position: absolute;
    top: 3rem;
    z-index: 201;
    margin-left: 0;
    background-color: $color-bg;
    display: none;
    &.show {
      display: block;
    }
  }
  input {
    border: none;
    border-bottom: 1px solid $color-border;
    padding: .25rem .5rem;
  }
  a {
    text-align: left;
    display: block;
    padding: .25rem .5rem;
    &:hover {
      background-color: $color-primary;
      color: $color-bg!important;
    }
  }
}


// MEDIA HOLDER
.media-holder {
	position: relative;
	width: 100%;
	overflow: hidden;
  padding-top: 150%; // Ratio
  >div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  >iframe {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
  }
  >video {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    object-fit: cover;
  }
  &-fill {
    min-height: 100%;
  }
  &-banner {
    padding-top: 567px;
    &-content {
      height: 100%;
      padding: 0 6vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      @include media-breakpoint-up(md) {
        padding: 0 20vw;
      }
    }
  }
  &-1 {
    padding-top: 100%;
  }
  .on-hover {
    opacity: 0;
  }
  &:hover {
    .on-hover {
      opacity: 1;
    }
    img {
      //transform: scale(1.05);
    }
  }
  img {
    transition: all .5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}




//TITLES
.title {
  text-align: left;
  width: 100%;
  color: $color-primary;
  border-bottom: 1px solid $color-primary;
  margin-bottom: .25rem;
  &-fancy {
    position: relative;
    text-transform: unset;
    color: $color-bg;
    background: $color-primary;
    background: linear-gradient(
      90deg,
      rgba($color-primary,0) 0%,
      rgba($color-primary,0.70) 10%,
      rgba($color-primary,1) 25%,
      rgba($color-primary,1) 75%,
      rgba($color-primary,0.70) 90%,
      rgba($color-primary,0) 100%
    );
    h1 {
      line-height: 3.75rem;
    }
    &:before, &:after {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      width: 4rem;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &:before {
      left: 0;
      background-image: url(../assets/title-left.png);
      @include media-breakpoint-up(md) {
        // margin-left: 15px;
      }
    }
    &:after {
      right: 0;
      background-image: url(../assets/title-right.png);
      background-position-x: right;
      @include media-breakpoint-up(md) {
        // margin-right: 15px;
      }
    }
  }
  &-fancy-small {
    color: $color-bg;
    height: 2.25rem;
    background: $color-primary;
    background: linear-gradient(
      90deg,
      rgba($color-primary,1) 0%,
      rgba($color-primary,1) 70%,
      rgba($color-primary,0.70) 85%,
      rgba($color-primary,0) 100%
    );
    padding-left: .75rem;
    margin-bottom: .75rem;
    position: relative;
    h5 {
      line-height: 2.25rem;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      width: 4rem;
      background-repeat: no-repeat;
      background-size: contain;
      right: 0;
      background-image: url(../assets/title-right.png);
      background-position-x: right;
    }
  }
}



//BUTTONS
.btn {
  @extend .reveal;
  border: none;
  border-radius: $radius;
  cursor: pointer;
  overflow: hidden;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  transition: all .25s linear;
  margin-right: .75rem;
  margin-bottom: .75rem;
  i {
    position: absolute;
    top: 50%;
    right: -2rem;
    transform: translateY(-50%);
    opacity: 0;
    transition: all .25s linear;
  }
  >* {
    z-index: 1;
  }
  span {
    position: relative;
  }
  &:hover {
    box-shadow: none;
  }
  &-wide {
    @include media-breakpoint-down(sm) {
      width: 100%;
      margin-right: 0;
      padding-top: .75rem;
      padding-bottom: .75rem;
    }
  }
  &-small {
    margin-right: .5rem;
    margin-bottom: .5rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    &.btn-icon {
      &:hover, &.hover {
        padding-left: .75rem;
        padding-right: 1.75rem;
        i {
          right: -1rem;
        }
      }
    }
  }
  &-icon {
    &:hover, &.hover {
      padding-left: 1rem;
      padding-right: 2.5rem;
      i {
        right: -1.5rem;
        opacity: 1;
      }
    }
  }
  &-primary {
    background-color: $color-primary;
    &:hover, &:active, &.hover {
      background-color: $color-primary!important;
    }
    &:after {
      background-color: $color-secondary;
    }
    &.is-outline {
      color: $color-primary;
      background-color: transparent;
      border: 1px solid $color-primary;
      &:hover, &:active, &.hover {
        color: $color-bg!important;
        background-color: $color-primary!important;
      }
      &:after {
        background-color: $color-primary;
      }
    }
  }
  &-secondary {
    background-color: $color-secondary;
    &:hover, &:active, &.hover {
      background-color: $color-secondary!important;
    }
    &:after {
      background-color: $color-primary;
    }
    &.is-outline {
      color: $color-secondary;
      background-color: transparent;
      border: 1px solid $color-secondary;
      &:hover, &:active, &.hover {
        color: $color-bg!important;
        background-color: $color-secondary!important;
      }
      &:after {
        background-color: $color-secondary;
      }
    }
  }
  &-bg {
    background-color: $color-bg;
    color: $color-primary;
    &:hover, &:active, &.hover {
      background-color: $color-bg!important;
      color: $color-bg;
    }
    &:after {
      background-color: $color-secondary;
    }
    &.is-outline {
      color: $color-bg;
      background-color: transparent;
      border: 1px solid $color-bg;
      &:hover, &:active, &.hover {
        color: $color-primary!important;
        background-color: $color-bg!important;
      }
      &:after {
        background-color: $color-bg;
      }
    }
  }
}

//FOOTER CONTACT BUTTONS
.contact-buttons {
  height: $height-footer-contact;
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: $color-primary;
  color: $color-bg;
  font-family: $font-heading;
  font-size: 4vw;
  @extend .box-shadow-top;
  @include media-breakpoint-down(sm) {
    display: flex;
  }
  >div {
    width: 33.33%;
    border-right: 1px solid $color-bg;
    &:last-child {
      border-right: none;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: $height-footer-contact;
      color: $color-bg;
      &:hover {
        color: $color-secondary;
      }
      i {
        font-size: calc(#{$height-footer-contact} * .5);
        border-radius: 50%;
        padding-right: 0;
        padding-top: calc(#{$height-footer-contact} *.25);
      }
      div {
        display: none;
      }
    }
  }
  a {
    text-transform: uppercase;
  }
}
.footer-absolute {
  @include media-breakpoint-down(sm) {
    margin-bottom: $height-footer-contact;
  }
}

//TABLES
.table {
  thead td, tbody>tr:first-of-type td {
    border-top: none;
    padding-right: 3rem;
  }
  thead td {
    color: $color-primary;
    text-transform: uppercase;
    font-weight: bold;
  }
  td {
    padding: .25rem 0;
  }


}

//LISTS
.icons-only {
  ul {
    li {
      display: inline;
      span {
        display: none;
      }
    }
    font-size: 1.6rem;
  }
  &.small {
    display: inline-block;
    ul {
      font-size: 1rem;
      li {
        margin-right: .15rem;
        +li:before {
          display: none;
        }
      }
    }
  }
}

ul ul {
  list-style: none;
}
.list {
  list-style: none;
  ul {
    list-style: none;
  }
  &-inline {
    li {
      display: inline-block;
    }
  }
  &-commas {
    margin-bottom: 0;
    display: inline-block;
    &:after {
      content: ", ";
      white-space: pre;
    }
    &:last-of-type:after {
      content: "";
    }
  }
  &-socials {
    i {
      margin-right: .5rem;
    }
  }
  &-2col {
    columns: 2;
    li {
      padding-left: 1rem;
    }
  }
  &-4col {
    columns: 2;
    li {
      margin-bottom: .5rem;
    }
  }
  &-blocks {
    li {
      margin-bottom: .75rem;
      padding: .5rem .75rem;
    }
  }
  &-small {
    margin: 0 auto;
    line-height: 3.4rem;
    text-transform: uppercase;
    a {
      display: block;
      color: $color;
      &:hover {
        color: $color-primary;
      }
    }
    li {
      position: relative;
      padding-left: 1rem;
      border-bottom: 1px solid $color-border;
      text-align: left;
      &:after {
        content: "\f054";
        font-family: $font-awesome;
        position: absolute;
        right: .5rem;
        color: $color-primary;
        -webkit-text-stroke: 1px $color-bg;
      }
    }
  }

  &-filter {
    margin: 0 auto;
    line-height: 2.4rem;
    text-transform: uppercase;
    text-align: left;
    >li {
      position: relative;
      margin-bottom: 1.5rem;
      i {
        position: absolute;
        right: 1rem;
        top: 1rem;
      }
      a {
        padding-left: 1rem;
        span {
          @extend .plain;
        }
      }
      .collapsed {
        border-bottom: 2px solid $color-divider;
      }
    }
    ul { // sub-lists
      list-style: none;
      border-top: 2px solid $color-divider;
      li {
        line-height: 2rem;
        &:hover a span{
          color: $color-primary;
        }
      }
      .active span{
        border-bottom: 1px solid $color-border;
        color: $color-primary;
        &:after {
          content: "\f00c";
          font-family: $font-awesome;
          margin-left: .5rem;
          text-decoration: none;
          -webkit-text-stroke: 1px $color-bg;
        }
      }
    }
    a {
      display: block;
      color: $color;
      &:hover {
        color: $color-primary;
      }
    }
  }

  @include media-breakpoint-up(md) {
    &-small {
      line-height: 2.4rem;
    }
    &-4col {
      columns: 4;
    }
  }
}

.collapse {
  margin-left: .5rem;
  &-full {
    width: 100vw;
    margin: 0;
  }
}













// HEADER AND FOOTER
header {
  // NAVBAR
  #navbar-fixed {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: rgba($color-bg, .95);
    padding: 0;
  }

  .topbar {
    @extend .invert;
    display: none;
    text-align: right;
    .container {
      border-bottom: 1px solid $color-border;
    }
    ul {
      transition: all .25s linear;
      margin-bottom: 0;
      line-height: $height-header-absolute;
      li {
        display:inline;
        margin-right: 1rem;
        &:hover {
          color: $color-primary;
        }
        & + li {
          &:before {
            content: '|';
            font-weight: $regular;
            margin-right: 1rem;
            color: $color-border;
          }
        }
        a {
          display: inline-block;
        }
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  .navbar {
    transition: all .25s linear;
    max-width: $container-width;
    height: $height-header-mobile;
    margin: 0 auto;
    padding: 0;
    font-family: $font-heading;
    &-brand {
      transition: all .25s linear;
      height: 100%;
      img {
        height: 100%;
      }
      @include media-breakpoint-up(sm) {
        padding: .25rem 0;
      }
    }
    &-nav {
      @extend .box-shadow-bottom;
      padding: 1rem;
      background-color: $color-bg;
      a {
        font-size: 1.4rem;
        @include media-breakpoint-up(md) {
          font-size: 1rem;
        }
      }
      .dropdown-toggle::after, .collapse-toggle::after  {
        content: '\f078';
        font-family: $font-awesome;
        font-weight: 600;
        margin: .1rem 0 0 .25rem;
        border: 0;
        -webkit-text-stroke: 1px $color-bg;
      }
    }
    &-collapse {
      &.collapsing, &.show {
        @extend .box-shadow-bottom;
      }
    }

    .dropdown-menu {
      position: fixed!important;
      left: 0;
      top: calc(#{$height-header} + #{$height-header-absolute} - 1rem);
      right: 0;
      transform: scaleY(0);
      transform-origin: top;
      border: none;
      padding: 0 15px;
      line-height: 2rem;
      font-size: inherit;
      border-radius: 0;
      display: block;
      background-color: transparent;
      color: $color;
      transition: all 0s linear;
      transition: all $trans-medium $trans-style;
      &.show {
        transform: scaleY(1);
      }
      &-narrow {
        margin-left: 26vw;
        &>div {
         max-width: 38rem;
        }
      }
      ul {
        list-style: none;
        width: 60vw;
        margin: 0 auto;
        padding: .75rem 1rem 1rem 3rem!important;
        columns: 3;
        background-color: $color-bg;
        @extend .box-shadow;
        @include media-breakpoint-up(xl) {
          columns: 4;
        }
        li a {
          &:before {
            content: '\f054';
            font-family: $font-awesome;
            font-weight: 600;
            margin: 0 .35rem 0 0;
            border: 0;
            -webkit-text-stroke: 1px $color-bg;
          }
        }
      }
      div {
        width: 60vw;
        margin: 0 auto;
        padding: .75rem 1rem!important;
        text-align: center;
        background-color: $color-bg;
        @extend .box-shadow;
        .text-block {
          font-size: 1rem!important;
          padding: .1rem .75rem;
        }
      }
      &.tiny {
        transition: all .25s linear;
        top: calc(#{$height-header-fixed} + #{$height-header-absolute-fixed} - 2px);
      }
    }

    .collapse {
      max-height: calc(100vh - #{$height-header-mobile});
      overflow-y: auto;
      ul ul {
        padding-left: .5rem;
        a {
          font-size: 1.2rem !important;
          line-height: 1.75em;
          @include media-breakpoint-up(md) {
            font-size: 1.1rem!important;
            line-height: unset;
          }
        }
      }
      .text-block {
        font-size: 1.3rem!important;
        padding: .1rem .75rem;
      }
    }
  }


  @include media-breakpoint-up(md) {
    .topbar {
      display: block;
    }
    #navbar-fixed   {
      padding: 0 15px;
    }
    .navbar {
      height: $height-header;
      &-nav {
        padding: 0 1rem;
        box-shadow: none;
      }
    }
    .tiny {
      .topbar {
        ul {

          line-height: $height-header-absolute-fixed;
        }
      }
      .navbar {
        height: $height-header-fixed;
        &-brand {
          padding: 0;
          img {
            padding: .25rem 0;
          }
        }
      }
    }
  }


  @include media-breakpoint-up(lg) {
    #navbar-fixed   {
      .navbar {
        &-nav {
          padding: 0;
          background-color: transparent;
          li {
            border-bottom: none;
            a {
              display: flex;
              span {
                padding-left: 0;
              }
            }
          }
          .nav-link {
            padding: 0 1vw!important;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .navbar-collapse {
    &.collapse {
      left: -100vw;
      &.show {
        left: 0;
      }
    }
    &.collapsing {
      left: 0;
    }
  }
}


// FOOTER
footer {
  text-align: center;
  ul {
    list-style: none;
  }
  .footer {
    min-height: 19rem;
    @include media-breakpoint-up(lg) {
      min-height: 12rem;
    }
    &-absolute {
      min-height: 2rem;
      align-content: center;
      font-size: .8rem;
    }
  }
  .follow a {
    color: $color;
  }
  @include media-breakpoint-up(md) {
    text-align: left;
    .footer {
      .logo {
        img {
          height: 3rem;
        }
      }
      &-absolute {
        div {
          float: left;
        }
        div + div {
          margin-left: .5rem;
        }
      }
    }
  }
} 


// MAIN
main {
  padding-top: $height-header-mobile;
  min-height: 100vh;
  @include media-breakpoint-up(md) {
    padding-top: calc( #{$height-header} + #{$height-header-absolute} );
    min-height: calc( 100vh - 21rem );
  }
  @include media-breakpoint-up(lg) {
    min-height: calc( 100vh - 14rem );
  }
}




// ICON WITH TEXT BENEATH
.icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  margin-right: 1rem;
  i {
    display: none;
    font-size: 2rem;
    &.open {
      display: inline-block;
    }
  }

  &:hover {
    color: $color-primary;
  }
}
.collapsed .icon-text{
  i {
    display: inline-block;
    &.open {
      display: none;
    }
  }
}



//READMORE
.readmore {
  position: relative;
  padding: 0 1.5rem 3px 0!important;
  border-bottom: 1px solid $color-primary!important;
  &:after {
    content: '\f078';
    font-family: $font-awesome;
    position: absolute;
    right: 0rem;
    @extend .bounce;
    -webkit-text-stroke: 1px $color-bg;
  }
  &.expanded:after {
    content: '\f077';
  }
}


.nav-mobile {
  z-index: 9999;
  padding: 0;
  li {
    width: 33.3333%;
  }
  li+li {
    border-left: 1px solid $color-border;
    height: 50%;
  }
  i {
    margin: 0 0.5rem 0 0!important;
    font-size: 1.7em;
    position: relative;
    top: .25rem;
  }
}


// GALLERY
.gallery {
  @extend .gallery-padding;
  a {
    &:hover {
      color: $color-primary;
    }
  }
  &-cover {
    top: unset!important;
    width: 100%;
    height: 20%;
    background: rgba(0,0,0,.4);
    background : $fade;
  }
  &-tag {
    display: none;
    top: 0;
    right: 0;
    text-transform: uppercase;
    margin: .5rem;
    padding: .25rem .5rem;
    background-color: $color-primary;
    color: $color-bg;
  }
  &-info-box {
    top: unset!important;
    text-align: left;
    padding: .5rem .5rem 0 .5rem;
    color: $color-bg;
    small {
      margin-left: 1rem;
    }
    h6 {
      flex-grow: 1;
      font-size: 1.4em;
      max-width: 66%;
      overflow: hidden;
      margin-right: .5rem;
      span {
        font-weight: normal;
        opacity: .7;
      }
    }
    p {
      opacity: .7;
      font-size: 1.1em;
      @include media-breakpoint-up(sm) {
        font-size: 1.6em;
      }
      @include media-breakpoint-up(md) {
        font-size: 1em;
      }
    }
    h6, p {
      margin-bottom: 0;
    }
  }
  &-rating {
    min-width: 34%;
    color: $color-primary;
  }
  .status {
    &-standard {
      font-size: .8em;
      .gallery-badge:before {
        font-size: 1rem;
        padding: 0 .3rem 0 .1rem;
      }
    }
    &-featured, &-vip {
      .gallery-tag {
        display: block;
      }
    }

    // Scaling down for small screens
    &-standard, &-featured {
      @include media-breakpoint-down(sm) {
        font-size: .6em;
      }
    }
  }
  &-highlight {
    a>div{
      border-top: .425rem solid $color-primary;
      border-bottom: .425rem solid $color-primary;
      border-left: .3rem solid $color-primary;
      border-right: .3rem solid $color-primary;
    }
    .gallery-badge {
      top: 0;
      left: 0;
      padding: .25rem;
      background-color: $color-primary;
      color: $color-bg;
      &:before {
        content: '\f3a5';
        font-family: $font-awesome;
        font-size: 1.5rem;
        padding: 0 .5rem 0 .2rem;
      }
    }
    .status-standard, .status-featured {
      @include media-breakpoint-down(sm) {
        .gallery-badge:before {
          font-size: 1rem;
          padding: 0 .3rem 0 .1rem;
        }
      }
    }
  }
}

//REVIEWS
.reviews {
  .row {
    margin-bottom: 2rem;
    .col-12 {
      display: flex;
      align-items: center;
      border-left: 2px solid $color-primary;
    }
    img {
      height: 4.5rem;
      width: 4.5rem;
      object-fit: cover;
      border-radius: 50%;
    }
    &:nth-child(even) {
      .col-12 {
        border-left: 0;
        border-right: 2px solid $color-primary;
        text-align: right;
        flex-direction: row-reverse;
      }
    }
  }
}


//PROFILE
.profile {
  &-nav {
    @include media-breakpoint-down(sm) {
      a span {
        display: none;
      }
    }
  }
}




// MODALS
// Slide behavior
.modal.fade .modal-dialog-slideout {
  transform: translate(-100%,0) scale(1);
}
.modal.fade.show .modal-dialog-slideout {
  transform: translate(0,0);
}

.modal {
  padding-right: 0 !important;
  &-dialog {
    margin: 0;
    @include media-breakpoint-up(md) {
      max-width: $width-sidebar;
    }
  }
  &-content {
    border: 0;
    border-radius: 0;
    height: 100vh;
    overflow: auto;
    background-color: $color-bg;
  }
  &-header {
    border-bottom: none;
    .close {
      font-size: 3vw;
      text-transform: uppercase;
      color: $color-primary;
      opacity: 1;
      &:hover {
        transform: scale(1.2);
      }
      @include media-breakpoint-up(md) {
        font-size: .7rem;
      }
    }
  }
}
#filter .modal-body {
  padding-bottom: 0;
}


